$text1: #404040;
$text2: #9F9F9F;
$text3: #B8B8B8;

$c-primary1: #42602E;
$c-primary2: #C1DFC4;
$c-primary3: #DEECDD;
$c-secondary1: #FFDA0B;
$c-secondary2: #FFF3AD;
$c-success: #0A8808;
$c-error: #BF0B0B;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    letter-spacing: 8%;
}
