@import './params.scss';

.bottomBar{
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 2px solid rgba($text2, 0.5);

    li{
        &.focus{
            a{
                color: $c-primary1;
                font-weight: 500;
            }
        }

        a{
            color: $text3;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75rem;
            
            img{
                width: 36px;
                height: 36px;
                margin: 0 0 8px;
            }
        }
    }
}